* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: url('wallpaperflare.com_wallpaper\ \(6\).jpg');
    background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
}